!!! 5
html(lang="en")
	head
		title Brad Harris
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="Brad Harris")
		meta(name="robots", content="index,follow")
		meta(name="viewport", content="width=device-width,initial-scale=1")

		link(href="/css/blog.css", rel="stylesheet")
		link(rel="alternate", type="application/rss+xml", title="selfcontained » rss", href="http://www.selfcontained.us/feed/rss.xml")

	body

		div#main

			header
				h1
					a(href="/") selfcontained
					small  [web development]

			div#content-container

				section#content

					block content

				aside.sidebar

					block sidebar

			footer
				&copy; 2012 Brad Harris
